.logoheading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vw;
    font-size: 4vw;
    letter-spacing: 20px;
    font-weight: lighter;
}

.logosubheading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -1vw;
    font-weight: lighter;
    font-size: medium;
    letter-spacing: 8px;
}

.line1 {
    width: 15%;
    color: #7d7d7d;
    margin-top: 3%;
}

.navbar {
    list-style: none;
    display: flex;
    font-size: 12px;
    gap: 30px;
    letter-spacing: 3px;
    /* align-items: center; */
    justify-content: center;
    margin-top: 3vw;
}

li a {
    color: #222;
    text-decoration: none;
}

.navbar li:hover {
    color: rgb(116, 113, 113);
}

.box1 {
    display: flex;
    gap: 10%;
}

.section1 {
    width: 30%;
    text-align: center;
    margin-top: 6%;
    margin-left: 5%;
}

.img1 {
    width: 35vw;
    height: auto;
}

.section1para {
    text-align: start;
    font-size: 12px;
    color: #7d7d7d;
    letter-spacing: 1px;
}

.section2 {
    width: 50%;
    text-align: start;
    margin-top: 5%;
    line-height: 1.5rem;
    letter-spacing: 2px;

}

.heading1 {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: #222;
}

.para1 {
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #7d7d7d;

}

.para2 {
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #7d7d7d;

}

#para3 {
    font-size: 11px;
    letter-spacing: 1.5px;
    line-height: 2rem;
    color: #7d7d7d;
    font-size: medium;
    font-style: italic;
}

#para4 {
    font-size: 11px;
    letter-spacing: 1.5px;
    color: #7d7d7d;
    line-height: 2rem;
    font-size: medium;
    font-style: italic;

}

#para5 {
    font-size: 11px;
    letter-spacing: 1.5px;
    line-height: 2rem;
    color: #7d7d7d;

    font-size: medium;
    font-style: italic;

}

.heading2 {
    font-size: 11px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: bold;
    color: #222;
    margin-top: 9%;

}

#para6 {
    font-size: 11px;
    line-height: 2rem;
    letter-spacing: 1.5px;
    font-size: medium;
    color: #7d7d7d;
    font-style: italic;
}

#para7 {
    font-size: 11px;
    letter-spacing: 1.5px;
    line-height: 2rem;
    font-style: italic;
    font-size: medium;
    color: #7d7d7d;


}

#para8 {
    font-size: 11px;
    letter-spacing: 1.5px;
    line-height: 2rem;
    font-size: medium;
    font-style: italic;
    color: #7d7d7d;

}

.heading3 {
    font-size: 11px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: bold;
    color: #222;
    margin-top: 9%;
}

.paragraphs {
    border-left: 0.5px solid #7d7d7d;
    /* Vertical bar */
    padding-left: 30px;
    /* Space between bar and text */
    line-height: 1.4;
    /* margin-top: 5%; */

}

.img2 {
    width: 40vw;
    height: auto;
    margin-top: 9%;
}

.heading4 {
    font-size: 11px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: bold;
    color: #222;
    margin-top: 9%;

}

#para9 {
    font-size: 11px;
    letter-spacing: 1.5px;
    line-height: 2rem;
    font-size: medium;
    font-style: italic;
    color: #7d7d7d;

}

#para10 {
    font-size: 11px;
    letter-spacing: 1.5px;
    line-height: 2rem;
    font-size: medium;
    font-style: italic;
    color: #7d7d7d;

}

#para11 {
    font-size: 11px;
    letter-spacing: 1.5px;
    line-height: 2rem;
    font-size: medium;
    font-style: italic;
    color: #7d7d7d;
    /* margin-top: 5%; */

}

.para12 {
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #7d7d7d;
    margin-top: 5%;

}

.para13 {
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #7d7d7d;
    margin-top: 5%;

}

.para14 {
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #7d7d7d;
    margin-top: 5%;

}

.para15 {
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #7d7d7d;
    margin-top: 5%;

}

.para16 {
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #7d7d7d;
    margin-top: 5%;


}

b {
    color: #222;
}

.contactbox1 {
    /* display: block; */
    /* flex-direction: column; */

    text-align: center;
    padding: 2rem;
    gap: 10px;
    background-color: rgb(226, 226, 226);
    width: 80vw;
    /* max-width: 800px; */
}

.parent-con-container {
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    height: 60vh;
    /* width: 90vw; */
}

.contactboxheading {
    font-size: 10.5px;
    font-weight: bold;
    margin-top: -1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(38, 38, 38, .51);
    letter-spacing: 1px;
}

.contactboxpara {
    color: rgb(38, 38, 38, .51);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    letter-spacing: 1px;
    margin-top: 20px;
}

.email {
    border: none;
    height: 45px;
    width: 200px;
    text-align: start;
    border: solid 0.1px rgb(38, 38, 38, .51);
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    padding-left: 10px;
    /* margin-bottom: -15px; */
}

.btn {
    height: 49px;
    width: 120px;
    margin-left: 10px;
    border: 2px solid rgb(38, 38, 38, .51);
    color: rgb(38, 38, 38, .51);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(38, 38, 38, .51);
    color: white;
}

.contactboxfooter {
    color: rgb(38, 38, 38, .51);
    font-size: 11.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3rem;
    margin-bottom: -0.6rem;
}

.box2 {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    color: rgb(38, 38, 38, .51);
    text-align: center;

    margin-top: -7rem;
}

.faqs {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1px;
    /* width: ; */
}

.faqspara {
    font-weight: bold;
    color: #222;

}

.faqscontent {
    color: #643a55;
    text-decoration: none;
    font-size: 11px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.faqscontent:hover {
    text-decoration: underline;
}

.contactme {
    margin-left: 2rem;
    margin-right: 2rem;
}

.contactmepara {
    color: #222;
    font-weight: bold;


}

.contactmecontent {
    color: #643a55;
    font-size: 11px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.contactmecontent:hover {
    text-decoration: underline;
}

.booking {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 300px;
    text-align: center;
    color: #222;
    font-weight: bold;

}

.address {
    font-size: smaller;
}

#socials {
    margin-left: 2rem;
    margin-right: 2rem;
    color: #222;
    font-weight: bold;
    text-align: center;
}

.socialicons {
    letter-spacing: 5px;
    text-decoration: none;
    padding-top: 10px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 8rem;
    color: #7d7d7d;


}