

.logoheading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vw;
    font-size: 4vw;
    letter-spacing: 20px;
    font-weight: lighter;
}

.logosubheading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -1vw;
    font-weight: lighter;
    font-size:medium;
    letter-spacing:8px ;
}
.line{
    line-break: loose;
}
.navbar{
    list-style: none;
    display: flex;
    font-size: 12px;
    gap: 30px;
    letter-spacing: 3px;
    /* align-items: center; */
    justify-content: center;
    margin-top: 4vw;
}
.navbar li:hover{
    color: rgb(116, 113, 113);
}

.box1{
    height: 70vh;
    width: 50vw;
    display: inline;
}
#myvideo{
    display: flex;
    width: 100vw;
    height: 50vh;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    /* min-width: 50rem; */
    /* aspect-ratio: 4/1; */
    /* opacity: 0.8; */
    /* z-index: -1; */
}
video{
    opacity: 0.6;
    /* width: 70%; */
    /* box-sizing: 400px; */
}
.heading1{
 margin-top: -10rem;
 font-size:xx-large;
 text-align: center;
 font-weight:900px;
 margin-left: 80px;
 opacity: 1.5;
 /* color: rgb(194, 22, 22); */
 /* color: white; */
 letter-spacing: 15px;
}
.heading2{
    margin-top: -20px;
    text-align: center;
    margin-left: 450px;
    font-size: larger;
    letter-spacing: 5px;
}
.box2{
    margin-top: 10rem;
    display: block;
    /* justify-content: center; */
    width: 35rem;
    text-align: center;
    align-items: center;
    margin-left: 29vw;
    letter-spacing: 3px;
    font-style: italic;
    gap: 20rem;
    padding: 5px;
    /* font-display:inherit; */
    
}
